<article class="trailer"> 
    <div class="trailer-info">
        <!-- Each is a paragraph which will have its information filled in dynamically -->
        <p class="trailer-title"> Title: {{title}} </p>
        <p class="trailer-url"> URL: {{url}} </p>
        <p class="trailer-tags"> Tags: {{tags}} </p>
    </div>
</article>